<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .message { font-size: 1.2em; font-weight: bold; }
    </style>
  </head>
<body ng-app="LunchCheck">
   <div ng-controller="LunchCheckController" class="container">
     <h1>Lunch Checker</h1>
         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch. , , is considered as an empty item"
             class="form-control" ng-model="lunchMenu" style="border-color:{{color}};">
         </div>
         <div class="form-group">
             <button ng-click="saySomething();" class="btn btn-default">Check If Too Muchh</button>
         </div>
         <div id="message" class="form-group message" style="color:{{color}};">
          {{feedback}}
         </div>
   </div>
</body>
</html>
